/* IMAGE WITH DropShadow */

.img-absolute {
    position: absolute;
    right: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .img-absolute img {
      max-width: 1000px;
      -webkit-box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.4);
      box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.4); }
      @media (max-width: 991.98px) {
        .img-absolute img {
          max-width: 100%; } }


          